<% layout('layouts/boilerplate.ejs') %>
<div class="row">
    <h1 class="text-center">New Campgroud</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground.id%>?_method=PUT " method="POST" class="validated-form" novalidate>
            <div class="form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control " id="title" type="text" name="campgrounds[title]" value="<%= campground.title %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">location</label>
                    <input class="form-control mb-3" id="location" type="text" name="campgrounds[location]" value="<%= campground.location %>" required>
                </div>
                <div class="mb-3">
                    <label for="campground-price">campground-price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price">$</span>
                        <input type="text" id="campground-price" class="form-control" aria-label="price"
                            name="campgrounds[price]" value="<%= campground.price %>" required>
                        <span class="input-group-text" id="price">.00</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="imageurl">Image Url</label>
                    <input class="form-control mb-3" id="imageurl" type="text" name="campgrounds[image]" value="<%= campground.image %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control mb-3" id="description" type="text"
                        name="campgrounds[description]" required> <%= campground.description %></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">Update campground</button>
                </div>
                <a href="/campgrounds/<%= campground.id %> ">Back to campground</a>
            </div>
        </form>
    </div>
</div>
<script>
    const forms = document.querySelectorAll('.validated-form')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
</script>